@model IList<MovieSearch>
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello media-enthousiast!</h1>
            <p>This is a test project hooked to the api of TMDB</p>
        </div>
    </div>
    <section class="section-overview">
        <h2 class="section-title">Now In Theaters</h2>
        <div class="card-container">
            @foreach (var movie in Model)
            {
              <partial name="_MovieCard" for="@movie"/>
            }
        </div>
    </section>

</div>

