@model MovieSearch

<div class="media-card">
    <div class="media-image">
          <div class="rating-container">
            <p class="rating">@Model.Rating</p>
        </div>
         <img src=@("https://image.tmdb.org/t/p/w200" + @Model.PosterLink) class="media-thumbnail" />
        
    </div>
   
    <div class="media-info">
        <h5 class="media-title">@Model.Title.ToUpper()</h5>

    </div>
</div>
