@model MovieSearch

<div class="media-card">
    <div class="media-image">
         <img src=@("https://image.tmdb.org/t/p/w200" + @Model.PosterLink) class="media-thumbnail"  />
    </div>
   
    <div class="media-info">
        <h5 class="media-title">@Model.Title.ToUpper()</h5>
        <h5>@Model.Rating</h5>
    </div>
</div>
